In [1]:
# Import modules
import sys
import os
import pandas as pd

In [2]:
# Append the project root path to sys.path
sys.path.append(os.path.abspath(".."))

In [3]:
# import the modules
from scripts.Yolov5_to_db import get_db_connection, drop_table, create_table, insert_data

In [4]:
#establish the database connection
engine = get_db_connection()

2025-02-04 12:05:54,091 - INFO - Successfully connected to the PostgreSQL database.

In [5]:
#drop table if it exist
drop_table(engine)

2025-02-04 12:05:54,216 - INFO - Table 'detections' dropped successfully.

In [6]:
#create table
create_table(engine)

2025-02-04 12:06:13,911 - INFO -  Table 'detections' created successfully.

In [8]:
#insert the data from the correct path 
csv_path = "../data/yolo_detections.csv"  
insert_data(engine, csv_path)

2025-02-04 12:07:55,895 - INFO - Loading data from: ../data/yolo_detections.csv
2025-02-04 12:07:55,895 - INFO - Dataframe shape: (250, 7)
2025-02-04 12:07:56,208 - INFO -  250 records inserted into 'detections' table.

In [11]:
#verify the insertion of data
df = pd.read_sql("SELECT * FROM detections", con=engine)
display(df.head(10))

,id,image_name,class_id,x_center,y_center,width,height,confidence
0,1,CheMed123_40,0,0.629583,0.607484,0.119167,0.437898,0.415015
1,2,CheMed123_40,0,0.975000,0.641720,0.050000,0.700637,0.473599
2,3,CheMed123_40,0,0.690833,0.601911,0.148333,0.452229,0.532881
3,4,CheMed123_40,0,0.570417,0.605096,0.160833,0.449045,0.612891
4,5,CheMed123_40,0,0.442917,0.597930,0.150833,0.453822,0.658300
5,6,CheMed123_40,0,0.343333,0.640127,0.191667,0.382166,0.691099
6,7,CheMed123_40,0,0.212917,0.585191,0.120833,0.335987,0.712878
7,8,lobelia4cosmetics_15152,39,0.299375,0.555625,0.238750,0.836250,0.295853
8,9,lobelia4cosmetics_15152,39,0.770625,0.586250,0.091250,0.542500,0.355243
9,10,CheMed123_20,73,0.666797,0.885938,0.191406,0.209375,0.271121